
node_modules/
**/node_modules/



.env
.env.local
.env.*.local
**/.env
**/.env.local


backend/dist/
backend/build/
backend/prisma/migrations/dev.db
*.tsbuildinfo

frontend/dist/
frontend/.angular/
frontend/coverage/


npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

.vscode/*
!.vscode/extensions.json
.idea/
*.swp
*.swo


.DS_Store
Thumbs.db
desktop.ini


*.tgz
.pnpm-store/